.container
  .page-header
    %h1="#{@volume.name} \# #{@issue.issue_number} #{!@issue.story_name.empty? ? '- ' + @issue.story_name : ''}"
  .row
    .col-md-6
      =image_tag(@issue.cover_image_url ? @issue.cover_image_url : 'no_image_available_cover.jpg', class: 'cover_image')
    .col-md-6
      %p=strip_links(@issue.description).html_safe
      -if !@issue.issue_credits.empty?
        .well
          %h5 Issue Credits:
          %ul
            -@issue.issue_credits.each do |credit|
              %li
                =link_to "#{credit.creator.name}", creator_path(credit.creator)
                ="- #{credit.role}"
      -if @issue.cover_date
        %p
          %strong Cover Date:
          =@issue.cover_date.strftime('%B %Y')
      %p=link_to 'Return to Volume Overview', volume_path(@volume)

      -if @issue.for_sale_comic
        =link_to("Available for Purchase at Dark Horse Digital for #{@issue.dark_horse_digital_issue.price_in_dollars}", "#{@issue.dark_horse_digital_issue.issue_url}", class: 'btn btn-warning btn-lg btn-block')
